---
# Variables listed here are applicable to all host groups

admin_name: dieu
ntp_servers:
- 0.pool.ntp.org
- 1.pool.ntp.org
- 2.pool.ntp.org
- 3.pool.ntp.org

# This is used for the nginx server configuration, but # access to the
# Wordpress site is not restricted by a # named host.
server_hostname:        "www.devopsmtl.com"
nginx_server_hostname:  "*.devopsmtl.com"

# Which version of Wordpress to deploy
wp_version: 3.7.1
wp_version_sha256sum: 6f6bae8759bf3e115cd85de4204b062aeaac63ceb030fc26a9c561474aa64dd4
# Find the SHA with `shasum -a 256 wordpress-*.tar.gz`

# These are the Wordpress database settings
wp_db_name: wp_domtl
wp_db_user: wp_domtl

jetpack_version: 2.6.1

datadog_mysql_user: datadog

# You shouldn't need to change this.
mysql_port: 3306
mysql_socket: /var/run/mysqld/mysqld.sock
