# {{ ansible_managed }}

server {
  # listen       80 default_server;
  listen       80;
  server_name  {{ nginx_server_hostname }};
  root /srv/wordpress/ ;

  client_max_body_size 64M;

  include conf.d/drop;

  # LOL headers
  add_header x-devops-enthusiast "Mention this header to webmat@gmail.com and get a free copy of The Phoenix Project!";
  add_header X-Powered-By "Some serious muscle";

  # A few security headers
  # This site can only be embedded in an iframe on this site.
  add_header X-Frame-Options "SAMEORIGIN";
  # Huge yak shave
  # add_header Content-Security-Policy-Report-Only "default-src 'self'; img-src *; style-src 'unsafe-inline'; script-src 'unsafe-inline' 'unsafe-eval'";

  # Protect people using an invalid browser.
  add_header X-XSS-Protection "1; mode=block";
  add_header X-Content-Type-Options "nosniff";


  # Deny access to any files with a .php extension in the uploads directory
  location ~* /(?:uploads|files)/.*\.php$ {
    deny all;
  }
  location /wp-(config|settings|activate).php {
    deny all;
  }
  # Annoying broken request from bonbon theme
  location ~* ^/tj-admin-options.css {
    return 204;
  }

  location / {
    index index.php index.html index.htm;
    try_files $uri $uri/ /index.php?$args;
  }

  location ~* \.(gif|jpg|jpeg|png|css|js)$ {
    expires max;
  }

  location ~ \.php$ {
    try_files $uri =404;
    fastcgi_split_path_info ^(.+\.php)(/.+)$;
    fastcgi_index index.php;
    fastcgi_pass  unix:/var/run/php5-fpm.sock;
    fastcgi_param   SCRIPT_FILENAME
                    $document_root$fastcgi_script_name;
    include       fastcgi_params;
  }
}
